.up_container,
.form_container,
.setting_form,
.setting_bottom,
.btn_container_up {
	display: flex;
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 10px 40px 10px;
}

@media screen and (min-width: 834px) {
	.container {
		padding: 100px 27px 40px 27px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		flex-direction: row;
		column-gap: 104px;
		padding-bottom: 0;
		padding: 100px 132px 0px 32px;
	}
}

.container_main_image {
	display: flex;
	justify-content: center;
	margin-top: 62px;
}

.container_main_image img {
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: 296px;

}

@media screen and (min-width: 834px) {
	.container_main_image {
		margin-top: 80px;
	}

	.container_main_image img {
		max-width: 380px;
		max-height: 376px;
	}
}

@media screen and (min-width: 1440px) {
	.container_main_image img {
		max-width: 592px;
		max-height: 588px;
	}
}

.up_container {
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 16px;
}

@media screen and (min-width: 834px) {
	.up_container {
		max-width: 834px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.up_container {
		max-width: 1440px;
		margin-bottom: 24px;
		margin-top: 32px;
	}
}

.form_container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 280px;
	padding-top: 24px;
	padding-bottom: 40px;
}

@media screen and (min-width: 834px) {
	.form_container {
		grid-template-columns: 1fr 1fr;
		column-gap: 60px;
		max-width: 491px;
		padding-bottom: 250px;
	}
}

@media screen and (min-width: 1440px) {
	.form_container {
		padding-top: 72px;
		padding-bottom: 56px;
	}
}

.setting_form {
	flex-direction: column;
}

.setting_form h3 {
	margin-top: 40px;
	margin-bottom: 12px;

	font-size: 14px;
	line-height: 1.43;
	font-weight: 500;
}

.input_field {
	display: block;
	width: 100%;
	margin-top: 12px;
	padding: 8px 10px;
	border: 1px solid var(--color-primary-grey);
	border-radius: 12px;
	background: var(--color-primary-black-2);

	font-size: 14px;
	font-weight: 400;
	line-height: 1.43;
	color: var(--color-primary-grey);
	;
}

.input_field_radio {
	width: 13px;
	height: 13px;
	margin-right: 8px;
	border: 1px solid var(--color-primary-white);
	border-radius: 50%;
	outline: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	cursor: pointer;
	transition: 0.2s all linear;
}

.input_field_radio:checked {
	border: 2px solid var(--color-primary-black);
	outline: 1px solid var(--color-primary-white);
	background-color: var(--color-primary-green-lite);
}

.setting_form h4 {
	margin-bottom: 12px;
}

.setting_up {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 40px;
}

@media screen and (min-width: 834px) {
	.setting_up {
		grid-template-columns: 212px 219px;
		column-gap: 60px;
	}
}

.setting_bottom {
	flex-direction: column;
	row-gap: 24px;
}

.btn_container_bottom {
	font-size: 14px;
	line-height: 1.43;
}

@media screen and (min-width: 834px) {
	.btn_container_bottom {
		display: none;
	}
}

.btn_save {
	width: 100%;
	max-width: 280px;
	margin-top: 40px;
	padding: 8px 10px;
	border: none;
	border-radius: 12px;
	background: var(--color-primary-green-lite);
	font-weight: 500;
	cursor: pointer;
	
	transition: all 250ms linear;
}
.btn_save:hover {
	box-shadow: rgba(255, 255, 255, 0.24) 0px 5px 8px;
	font-size: 15px;
}

@media screen and (min-width: 834px) {
	.btn_save {
		margin-top: 0;
		max-width: 192px;
	}
}

.btn_cancel {
	width: 100%;
	max-width: 280px;
	margin-top: 12px;
	padding: 8px 10px;
	border: none;
	border-radius: 12px;
	background: transparent;

	color: var(--color-primary-grey);
}

@media screen and (min-width: 834px) {
	.btn_cancel {
		margin-top: 0;
		max-width: 192px;
	}
}

.title_buttons_wrapper{
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 320px;
}

@media screen and (min-width: 834px) {
	.title_buttons_wrapper{
		max-width: 834px;
	}
}

@media screen and (min-width: 1440px) {
	.title_buttons_wrapper{
		max-width: 1440px;
	}
}

.btn_container_up {
	display: none;
}

@media screen and (min-width: 834px) {
	.btn_container_up {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
		max-width: 406px;
	}
}

@media screen and (min-width: 1440px){
	.btn_container_up {
		top: 20px;
		right: 32px;
	}
}

.avart_item_label {
	cursor: pointer;
}

.avatar_lable_name {
	display: block;
	margin-bottom: 12px;
}

.user_avatar {
	display: inline-block;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;

	transition: transform 250ms linear;
}

.avart_item_label>svg {
	margin-left: 12px;
	display: inline-block;
	height: 36px;
	vertical-align: sub;
}

.avart_item_label>input {
	display: none;
}

.avatar_desc {
	display: inline-block;
	height: 36px;
	margin-left: 6px;

	font-size: 14px;
	line-height: 1.43;
	vertical-align: middle;

	transition: color 250ms linear;
}

.avart_item_label:hover .avatar_desc {
	color: var(--color-primary-green-lite);
}

.avart_item_label:hover .user_avatar {
	transform: scale(1.1);
}

.gender_item>label~label {
	margin-left: 16px;
}