.header_logo {
	display: inline-block;
}

.header_logo_link {
	color: var(--color-primary-grey);
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

@media screen and (min-width: 834px){
	.header_logo_link {
		font-size: 22px;
	}
}

.flex {
	display: flex;
	align-items: center;
}

.data {
	column-gap: 12px;
}

.data_image_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	padding: 10px;
	border: 1px solid #5F5E5C;
	border-radius: 12px;

	transition: all 250ms linear;
}

.edit_icon, .goal_arrow {
	width: 16px;
	height: 16px;

	transition: fill 250ms linear;
}

.data:hover .data_image_wrapper,
.data:focus .data_image_wrapper {
	border: 1px solid var(--secondary-color-yellow);
} 

.data:hover .edit_icon,
.data:focus .edit_icon,
.data:hover .goal_arrow,
.data:focus .goal_arrow {
	fill: var(--secondary-color-yellow);
} 


.data_desc {
	font-weight: 600;
	text-align: left;
}

.data_container {
	position: relative;
	display: flex;
	align-items: center;
}

.data_container button {
	cursor: pointer;
}

.data_desc_wrapper {
	display: flex;
	column-gap: 12px;
	align-items: center;
}

.data_desc_wrapper  p{
	font-weight: 500;
}

.user_block p {
	font-weight: 400;
}

.user_avatar{
	width: 28px;
	height: 28px;
	overflow: hidden;
	border-radius: 50%;
}

.data, .user_block {
	display: flex;
	align-items: center;
	border: none;
	background-color: inherit;
	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-white);
}


.user_block {
	column-gap: 6px;
	margin-left: 73px;
}


@media screen and (min-width: 1440px){
	.user_block {
		margin-left: 124px;
	}
}

.mobile_hidden {
	display: flex;
	justify-content: flex-end;
	column-gap: 40px;
	width: 100%;
}

@media screen and (max-width: 834px) {
	.mobile_hidden {
		display: none;
	}
}

@media screen and (min-width: 1440px){
	.mobile_hidden {
		column-gap: 80px;
	}
}

.tablet_hidden {
	width: 16px;
	height: 16px;
}

@media screen and (min-width: 834px) {
	.tablet_hidden {
		display: none;
	}
}

.tablet_hidden button {
	border: none;
	background-color: transparent;
}

.drop_menu {
	position: fixed;
	top: 100px;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;

	width: 100%;
	max-width: 158px;
	height: 112px;
	padding: 24px;
	border-radius: 12px;
	background: var(--color-primary-black-2);

	pointer-events: auto;

	box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.20);
	animation: modal-fall 0.45s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@media screen and (min-width: 834px) {
	.drop_menu {
		bottom: -112px;
		height: 104px;
	}
}


.drop_button {
	display: flex;
	flex-direction: row;
	column-gap: 8px;
	border: none;
	background-color: transparent;

	font-size: 14px;
	line-height: 1.43;
	font-weight: 500;
	color: var(--color-primary-white);
	cursor: pointer;
}

.user_block:hover .arrow_icon.active {
	animation: bouncy-arrow 0.5s linear;
}

.arrow_icon {
	width: 16px;
	height: 16px;
	animation: turn-arrow-up 250ms linear;
}

.arrow_icon.active {
	transform: rotate(0.5turn);
	
}

@keyframes turn-arrow-up {
	0% {
		transform: rotate(0.5turn);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes bouncy-arrow {
	0% {
		transform: translateY(-8px) rotate(0.5turn);
	}
	50% {
		transform: translateY(0) rotate(0.5turn);
	}
	75% {
		transform: translateY(-4px) rotate(0.5turn);
	}
	100% {
		transform: translateY(0) rotate(0.5turn);
	}
}

@keyframes modal-fall {
	0% {
		transform: translateY(-100%);
		transform-origin: 50% 100%;
		opacity: 0.5;
	}

	100% {
		transform: translateY(0);
		transform-origin: 50% 0%;
		opacity: 1;
	}
}