.container{
	max-width: 320px;
	@media (min-width: 834px){
		max-width: 834px
	}
	@media (min-width: 1440px){
		max-width: 1440px
	}
}
.select_menu_container{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 16px 0;
}


.select_menu{
	background: var(--color-primary-black);
	outline: none;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--color-primary-white);
	cursor: pointer;
}


.drop_container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.drop_container svg {
	transition: transform 250ms ease-out;
}

.drop_button{
	border: none;
	border-radius: 8px;
	background-color: transparent;

	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--color-primary-white);
	cursor: pointer;

	transition: border-bottom 2s ease-out;
}

.drop_button:hover{
	border-bottom: 1px solid var(--color-primary-white);
}

.drop_menu {
	position: absolute;
	bottom: -20;
	left: 0;
	z-index: 4;

	animation: slide-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.drop_menu>button {
	padding: 16px 101px 16px 12px;
	border: none;
	border-radius: 12px;
	background: var(--color-primary-black-2);
	box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.20);

	font-size: 22px;
	line-height: 1.45;
	color: var(--color-primary-white);
}

.chart_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 414px 414px 142px;
	row-gap: 27px;
	@media (min-width: 834px){
		grid-template-rows: 420px 420px 148px;
		row-gap: 40px;
	}
	@media (min-width: 1440px){
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 420px 148px;
		gap: 20px;
	}
}
.calories_element{
	overflow-x: auto;
	@media (min-width: 834px){
		overflow-x:visible;
	}
}

.water_element{
	overflow-x: auto;
	@media (min-width: 834px){
		overflow-x: visible;
	}
}

.weight_element {
	overflow-x: auto;
	@media (min-width: 834px){
		overflow-y: visible;
	}
	@media (min-width: 1440px){
	grid-column-start: 1;
	grid-column-end: 3;
	}
}


@keyframes slide-top {
  0% {
            transform: translateY(30px);
  }
  100% {
            transform: translateY(0);
  }
}
