.recommendedFood {
  display: none;
}

@media screen and (min-width: 834px) {
  .recommendedFood {
    display: block;
    width: 100%;
    max-width: 780px;
  }
}

@media screen and (min-width: 1440px) {
  .recommendedFood {
    max-width: 676px;
  }
}

.rec_food_title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-top: 16px;
}

.item {
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 380px;
  height: 100vh;
  max-height: 86px;

  padding: 20px 0 20px 24px;
  border-radius: 12px;
  background: var(--color-primary-black-2);
}

@media screen and (min-width: 1440px) {
  .item {
    max-width: 328px;
  }
}

.item h3 {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 500;
  color: var(--color-primary-white);
}

.item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}
.item span {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: var(--color-primary-grey);
}

.image_container {
  width: 100%;
  max-width: 46px;
  height: 100%;
  max-height: 46px;
}

.image_container img {
  width: 100%;
  height: 100%;
}
.item:nth-child(n + 5) {
  display: none;
}
.see_more_link {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;
  color: var(--color-primary-grey);
}
