.inner_container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	padding-top: 20px;
}


.up_page_main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
}

@media screen and (min-width: 834px) {
	.up_page_main{
		font-size: 30px;
	}
}

.up_page_main a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.37; 
	color: var(--color-primary-grey);
	text-align: right;
}