.modal {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 300px;

	padding: 24px 0 24px 24px;
	border-radius: 12px;
	background-color: var(--color-primary-black-2);
	box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.20);
	z-index: 4;

	pointer-events: auto;
}

.mobile_inner {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	width: 100%;
}

.data_button {
	display: flex;
	align-items: center;
	column-gap: 12px;

	border: none;
	background-color: transparent;

	color: white;
}

.data_image_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	padding: 10px;
	border: 1px solid #5F5E5C;
	border-radius: 12px;
}

.data_desc {
	font-weight: 600;
	text-align: left;
}
.data_desc_wrapper {
	display: flex;
	column-gap: 12px;
	align-items: center;
	font-weight: 500;
}

.data_desc_wrapper  p{
	font-weight: 500;
}
