.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 10px 40px 10px;
}

@media screen and (min-width: 834px) {
	.container {
		padding: 100px 27px 40px 27px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		flex-direction: row;
		column-gap: 104px;
		padding-bottom: 0;
		padding: 100px 132px 0px 32px;
	}
}

.container_main_image {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

@media screen and (min-width: 834px) {
	.container_main_image {
		margin-top: 40px;
	}
}

.container_main_image img {
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: 296px;

}

@media screen and (min-width: 834px) {
	.container_main_image img {
		max-width: 380px;
		max-height: 376px;
	}
}

@media screen and (min-width: 1440px) {
	.container_main_image img {
		max-width: 592px;
		max-height: 588px;
	}
}