.modal{
	position: fixed;
	top: 100px;
	right: 0;
	width: 100%;
	height: 100vh;
	padding: 24px 10px 40px 10px;
	background-color: #0F0F0F;
	border-radius: 12px;
	box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.20);
	overflow-y: hidden;

	animation: modal-fall 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@media screen and (min-width: 834px) {
	.modal {
		right: 300px;
		max-width: 392px;
		height: 352px;
		padding: 20px 0 40px 24px;
	}
}

.modal_title {
	font-size: 18px;
	line-height: 1.33;
	font-weight: 500;
}
.modal_desc {
	max-width: 70%;
	margin-top: 8px;
	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-grey);

}

.close_button {
	position: absolute;
	top: 20px;
	display: none;
	right: 32px;
	width: 16px;
	height: 16px;
	border: none;
	background-color: transparent;
}

@media screen and (min-width: 834px) {
	.close_button {
		display: block;
	}
}

.close_button svg:hover {
	border-radius: 50%;
	transform: scale(1.1);
	box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.checkbox {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 16px 0;
	
}

.checkbox label {
	font-size: 14px;
	line-height: 1.43;
	font-weight: 400;
}
.checkbox input {
	position: absolute;
	appearance: none;
	
}
.checkbox input:checked + .new_checkbox {
	border: 1px solid var(--color-primary-violet);
}

.checkbox label {
	display: flex;
	align-items: center;
	column-gap: 12px;
	cursor: pointer;
}
.new_checkbox{
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 12px;
	border: 1px solid var(--secondary-color-grey-1);
	cursor: pointer;
}



.cancel_btn {
	width: 280px;
	line-height: 1.43;
	color: var(--color-primary-grey);
}

@media screen and (min-width: 834px){
	.cancel_btn {
		display: none;
	}
}

@keyframes modal-fall {
	0% {
		transform: translateY(-100%);
		transform-origin: 50% 100%;
		opacity: 0.5;
	}

	100% {
		transform: translateY(0);
		transform-origin: 50% 0%;
		opacity: 1;
	}
}