.water {
  d: path(
    'M60 36.0998V49.9998H47.0666C44.6 49.9998 42.2 49.4332 40 48.3332C37.8 47.2332 35.4 46.6665 32.9667 46.6665L20 46.5998V36.0998C20 34.5665 20.8668 32.4665 21.9668 31.3665L29.0334 24.2998C29.6334 23.6998 30 22.8332 30 21.9665V16.6665H50V21.9665C50 22.8332 50.3666 23.6998 50.9666 24.2998L58.0332 31.3665C59.1332 32.4665 60 34.5665 60 36.0998Z'
  );

  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    d: path(
      'M60 36.0998V49.9998H47.0666C44.6 49.9998 42.2 49.4332 40 48.3332C37.8 47.2332 45.4 46.6665 32.9667 46.6665L20 46.5998V36.0998C20 34.5665 20.8668 32.4665 21.9668 31.3665L29.0334 24.2998C29.6334 23.6998 30 22.8332 30 21.9665V16.6665H50V21.9665C50 22.8332 50.3666 23.6998 50.9666 24.2998L58.0332 31.3665C59.1332 32.4665 60 34.5665 60 36.0998Z'
    );
  }

  35% {
    d: path(
      'M 60 36.0998 V 49.9998 H 60 C 59 42 48 45 43 43 C 31 42 36 46 29 44 L 20 46.5998 V 36.0998 C 20 34.5665 20.8668 32.4665 21.9668 31.3665 L 29.0334 24.2998 C 29.6334 23.6998 30 22.8332 30 21.9665 V 16.6665 H 50 V 21.9665 C 50 22.8332 50.3666 23.6998 50.9666 24.2998 L 58.0332 31.3665 C 59.1332 32.4665 60 34.5665 60 36.0998 Z'
    );
  }
  70% {
    d: path(
      'M 60 36.0998 V 49.9998 H 60 C 59 42 48 45 43 43 C 31 42 30 42 25 43 L 20 46.5998 V 36.0998 C 20 34.5665 20.8668 32.4665 21.9668 31.3665 L 29.0334 24.2998 C 29.6334 23.6998 30 22.8332 30 21.9665 V 16.6665 H 50 V 21.9665 C 50 22.8332 50.3666 23.6998 50.9666 24.2998 L 58.0332 31.3665 C 59.1332 32.4665 60 34.5665 60 36.0998 Z'
    );
  }

  100% {
    d: path(
      'M60 36.0998V49.9998H47.0666C44.6 49.9998 42.2 49.4332 40 48.3332C37.8 47.2332 45.4 46.6665 32.9667 46.6665L20 46.5998V36.0998C20 34.5665 20.8668 32.4665 21.9668 31.3665L29.0334 24.2998C29.6334 23.6998 30 22.8332 30 21.9665V16.6665H50V21.9665C50 22.8332 50.3666 23.6998 50.9666 24.2998L58.0332 31.3665C59.1332 32.4665 60 34.5665 60 36.0998Z'
    );
  }
}
