.modal{
	position: fixed;
	top: 100px;
	width: 100%;
	height: 100vh;
	padding: 24px 10px 40px 10px;
	background-color: #0F0F0F;
	box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.20);
	
	animation: modal-fall 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@media screen and (min-width: 834px) {
	.modal {
		right: 150px;
		width: 100%;
		max-width: 392px;
		height: auto;
		padding: 20px 24px 40px 24px;
		border-radius: 12px;
	}
}

.modal_title {
	font-size: 18px;
	line-height: 1.33;
	font-weight: 500;
}
.modal_desc {
	margin-top: 8px;

	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-grey);

}
.modal_day {
	margin: 16px 0;

	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-white);
}

.close_button {
	display: none;
}

@media screen and (min-width: 834px) {
	.close_button {
		display: block;
		position: absolute;
		top: 20px;
		right: 32px;
		width: 16px;
		height: 16px;
		border: none;
		background-color: transparent;
	}
}

.close_button svg:hover {
	border-radius: 50%;
	transform: scale(1.1);
	box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.modal_form {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.modal_form input[type="number"] {
	width: 100%;
	max-width: 280px;
	padding: 7px 10px;
	border-radius: 12px;
	border: 1px solid var(--color-primary-green-lite);
	background: var(--color-primary-black-2);

	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-grey);
}

@media screen and (min-width: 834px) {
	.modal_form {
		flex-direction: row;
		row-gap: 0;
		column-gap: 12px;
	}

	.modal_form input[type="number"] {
		max-width: 166px;
	}

}


.cancel_btn {
	width: 100%;
	max-width: 280px;
	padding: 8px 10px;
	border: none;
	background: transparent;
	font-size: 14px;
	line-height: 1.43;
	color: var(--color-primary-grey);
}

@media screen and (min-width: 834px) {
	.cancel_btn {
		display: none;
	}
}


@keyframes modal-fall {
	0% {
		transform: translateY(-100%);
		transform-origin: 50% 100%;
		opacity: 0.5;
	}

	100% {
		transform: translateY(0);
		transform-origin: 50% 0%;
		opacity: 1;
	}
}