.body {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.body > h1 {
  margin-top: 24px;
  padding-right: 10px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-primary-white);
  text-align: left;
}

@media screen and (min-width: 834px) {
  .body > h1 {
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .body > h1 {
    text-align: left;
  }
}

.body > p {
  margin-top: 16px;
  padding-right: 10px;
  font-size: 22px;
  line-height: 1.45;
  color: var(--color-primary-grey);
  text-align: left;
}

@media screen and (min-width: 834px) {
  .body > p {
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .body > p {
    text-align: left;
  }
}

.body_form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 320px;
  margin-top: 24px;
}

@media screen and (min-width: 834px) {
  .body_form {
    max-width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .body_form {
    max-width: 192px;
  }
}

.body_form > label {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.body_input {
  width: 100vw;
  max-width: 280px;
  margin-top: 12px;
  padding: 9px 10px;
  border: 1px solid var(--color-primary-green-lite);
  border-radius: 12px;
  background: var(--color-primary-black-2);
  color: var(--color-primary-grey);
  -webkit-text-fill-color: var(--color-primary-grey);
  box-sizing: border-box;
}
.body_input:-webkit-autofill,
.body_input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px var(--color-primary-black-2) inset;
  -webkit-text-fill-color: var(--color-primary-grey);
}

@media screen and (min-width: 834px) {
  .body_input {
    max-width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .body_input {
    max-width: 192px;
  }
}

.body_button_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back_link {
  width: 100%;
  max-width: 280px;
  padding: 8px 10px;
  margin-top: 16px;
  border: none;
  background: var(--color-primary-black);
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-primary-grey);
  text-align: center;
}

.back_link:hover,
.back_link:focus {
  border-radius: 12px;
  color: var(--secondary-color-yellow);
  box-shadow:
    0 1px 1px rgba(255, 243, 183, 0.12),
    0 2px 2px rgba(255, 243, 183, 0.12);
}

@media screen and (min-width: 834px) {
  .back_link {
    max-width: 360px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .back_link {
    max-width: 192px;
  }
}
