.container_sing_up {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 1440px) {
	.container_sing_up {
		align-items: start;
	}
}

.container_sing_up h1 {
	margin-top: 24px;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--color-primary-white);
	text-align: center;
}

@media screen and (min-width: 834px) {
	.container_sing_up h1 {
		margin-top: 60px;
	}
}

@media screen and (min-width: 1440px) {
	.container_sing_up h1 {
		margin-top: 0;
		text-align: left;
	}
}

.sign_up_desc {
	margin-top: 16px;
	font-size: 22px;
	line-height: 1.45;
	color: var(--color-primary-grey);
	text-align: center;
}

.sign_up_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	width: 100vw;
	max-width: 280px;
	padding-top: 24px;
}

@media screen and (min-width: 834px) {
	.sign_up_form {
		max-width: 360px;
	}
}

@media screen and (min-width: 1440px) {
	.sign_up_form {
		align-items: flex-start;
		max-width: 192px;
	}
}

.sign_up_form label {
	width: 100%;
}

.sign_up_input {
	width: 100%;
	padding: 8px 35px 8px 10px;
	border: 1px solid var(--color-primary-green-lite);
	border-radius: 12px;
	background: var(--color-primary-black-2);
	color: var(--color-primary-grey)
}


.sing_in_box {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-top: 80px;
}

@media screen and (min-width: 834px) {
	.sing_in_box {
		flex-direction: row;
		row-gap: 0;
		column-gap: 16px;
		margin-top: 238px;
	}
}

@media screen and (min-width: 1440px) {
	.sing_in_box {
		margin-top: 100px;
	}
}

.sing_in_box span {
	font-size: 14px;
	line-height: 1.42;
	color: var(--color-primary-grey);
}

.sing_in_box a {
	font-size: 14px;
	line-height: 1.42;
	font-weight: 500;
	color: var(--color-primary-white);
}

.passwordContaier {
	position: relative;
	width: 100%;
}

.errorMessage {
	color: #E74A3B;
	font-size: 12px;
	line-height: 1;
	text-align: center;
}
.successMessage {
	color: #3CBC81;
	font-size: 12px;
	line-height: 1;
	text-align: center;
}

.iconStatus {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;

	animation: hide-item 250ms linear;
}

.errorIcon {
	background: #E74A3B;
	fill: black;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}
.inputError[name="password"]:focus {
	border: 1px solid #E74A3B;
	outline: 1px solid #E74A3B;
}

.inputError[name="password"]:focus ~ .iconStatus {
	display: block;
	animation: show-item 250ms linear;
}

.successIcon {
	background: #3CBC81;
	fill: black;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}

.inputSuccess[name="password"]:focus {
	border: 1px solid #3CBC81;
	outline: 1px solid #3CBC81;
}

.inputSuccess[name="password"]:focus ~ .iconStatus {
	display: block;
	animation: show-item 250ms linear;
}

.hidden{ 
	display: none;
}


.showPasswordBtn {
	position: absolute;
	appearance: none;
}

.passwordIcon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 16px;
	height: 16px;

	cursor: pointer;
}


@keyframes show-item {
	0% {
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
		display: block;
	}
}

@keyframes hide-item {
	0% {
		opacity: 1;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}