.container_sing_up {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 1440px) {
	.container_sing_up {
		align-items: start;
	}
}

.container_sing_up h1 {
	margin-top: 24px;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--color-primary-white);
	text-align: center;
}

@media screen and (min-width: 834px) {
	.container_sing_up h1 {
		margin-top: 60px;
	}
}

@media screen and (min-width: 1440px) {
	.container_sing_up h1 {
		margin-top: 0;
		text-align: left;
	}
}

.sign_up_desc {
	margin-top: 16px;
	font-size: 22px;
	line-height: 1.45;
	color: var(--color-primary-grey);
	text-align: center;
}

.sign_up_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	width: 100vw;
	max-width: 280px;
	padding-top: 24px;
}

@media screen and (min-width: 834px) {
	.sign_up_form {
		max-width: 360px;
	}
}

@media screen and (min-width: 1440px) {
	.sign_up_form {
		align-items: flex-start;
		max-width: 192px;
	}
}

.sign_up_input {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid var(--color-primary-green-lite);
	border-radius: 12px;
	background: var(--color-primary-black-2);
	color: var(--color-primary-grey)
}


.sing_in_box {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-top: 80px;
}

@media screen and (min-width: 834px) {
	.sing_in_box {
		flex-direction: row;
		row-gap: 0;
		column-gap: 16px;
		margin-top: 238px;
	}
}

@media screen and (min-width: 1440px) {
	.sing_in_box {
		margin-top: 100px;
	}
}

.sing_in_box span {
	font-size: 14px;
	line-height: 1.42;
	color: var(--color-primary-grey);
}

.sing_in_box a {
	font-size: 14px;
	line-height: 1.42;
	font-weight: 500;
	color: var(--color-primary-white);
}

.sign_up_form label {
	width: 100%;
}

.error {
	color: red;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	font-style: italic;
}