.food_container {
	width: 300px;
	height: 380px;
	padding: 26px 72px 16px 12px;
	border-radius: 12px;
	background: var(--color-primary-black-2);
	@media (min-width: 834px){
		display: flex;
		align-items: center;
		column-gap: 40px;

		width: 100vw;
		max-width: 780px;
		min-width: 424px;
		height: 100%;
		max-height: 240px;
		min-height: 168px;

		padding: 36px 20px 36px 40px;
	}
	@media (min-width: 1440px){
		max-width: 560px;
	}
}
.food_title{
	font-size: 22px;
	line-height: 1.45;
	color: var(--color-primary-white);
	font-weight: 400;
}
.stat_wrapper{
	display: flex;
	align-items: center;
	column-gap: 12px;

}

.stat_wrapper ~ .stat_wrapper {
	margin-top: 4px;
}

.food_info{
	color: var(--color-primary-white);
}

.food_info h3{
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 1.33;
	font-weight: 500;
}

.food_info p {
	display: inline-block;
	font-size: 14px;
	line-height: 1.43;
	text-align: center;
}
.food_info p ~ p{
	margin-left: 12px;
}
.food_info span {
	margin-left: 4px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-primary-grey);
}

