.backdrop {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 100vh;
	background-color: transparent;
}

@media screen and (min-width: 834px) {
	.backdrop {
		width: 834px;
	}
}

@media screen and (min-width: 1440px) {
	.backdrop {
		width: 1440px;
	}
}
/* .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	max-width: 600px;
	width: 100%;
	padding: 12px;
	background-color: #fff;
	border-radius: 3px;
} */