.inner_container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
	width: 100%;
	padding: 20px  0 60px 0
}

@media screen and (min-width: 834px){
	.inner_container{
		padding: 20px 0 40px 0
	}
}

@media screen and (min-width: 1440px){
	.inner_container{
		flex-direction: row;
		row-gap: 0;
		justify-content: space-between;
		padding: 20px 0 52px 0;
	}
}