.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

.inner_container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
	width: 100%;
	max-width: 320px;
	padding: 0 10px 60px 10px;
	@media screen and (min-width: 834px){
		max-width: 834px;
		padding: 0 27px 40px 27px;
	}
	@media screen and (min-width: 1440px){
		flex-direction: row;
		row-gap: 0;
		justify-content: space-between;
		max-width: 1440px;
		padding: 0 34px 52px 34px;
	}
}