.heart {
	d: path("M 313.682 201.27 a 20.088 20.088 0 0 1 6.8 -4.828 a 20.088 20.088 0 0 1 8.176 -1.653 a 18.81 18.81 0 0 1 11.748 4.084 a 24.107 24.107 0 0 1 4.742 4.974 a 24.032 24.032 0 0 1 4.762 -4.955 a 18.838 18.838 0 0 1 11.764 -4.033 a 20.129 20.129 0 0 1 14.95 6.549 c 3.82 4.161 5.916 9.838 5.903 15.985 c 0 6.33 -2.382 12.117 -7.456 18.215 c -4.539 5.462 -11.06 10.989 -18.609 17.396 c -2.572 2.188 -5.501 4.669 -8.536 7.31 a 4.393 4.393 0 0 1 -5.787 0 c -3.022 -2.654 -5.939 -5.141 -8.507 -7.349 c -7.524 -6.426 -14.022 -12.001 -18.539 -17.479 c -5.051 -6.105 -7.395 -11.917 -7.395 -18.244 c 0.029 -6.163 2.148 -11.831 5.984 -15.972 Z");
	fill: rgb(255, 196, 247);

	animation: 2s ease 1s infinite alternate colorHeart;
}


.battery3 {
	opacity: 0;
	animation-name: bataryCarge;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes bataryCarge {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


@keyframes colorHeart {
	0% {
		transform: scale(1) translate(0, 0);
		fill: rgb(255, 196, 247);
	}

	50% {
		transform: scale(1.09) translate(-4.8%, -3%);
		fill: rgb(243, 122, 227);
	}

	100% {
		transform: scale(1) translate(0, 0);
		fill: rgb(255, 196, 247);
	}
}