.container {
  width: 300px;
  height: 296px;
}

@media screen and (min-width: 834px) {
  .container {
    width: 380px;
    height: 376px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 592px;
    height: 588px;
  }
}

.heart {
  d: path(
    'M 313.682 201.27 a 20.088 20.088 0 0 1 6.8 -4.828 a 20.088 20.088 0 0 1 8.176 -1.653 a 18.81 18.81 0 0 1 11.748 4.084 a 24.107 24.107 0 0 1 4.742 4.974 a 24.032 24.032 0 0 1 4.762 -4.955 a 18.838 18.838 0 0 1 11.764 -4.033 a 20.129 20.129 0 0 1 14.95 6.549 c 3.82 4.161 5.916 9.838 5.903 15.985 c 0 6.33 -2.382 12.117 -7.456 18.215 c -4.539 5.462 -11.06 10.989 -18.609 17.396 c -2.572 2.188 -5.501 4.669 -8.536 7.31 a 4.393 4.393 0 0 1 -5.787 0 c -3.022 -2.654 -5.939 -5.141 -8.507 -7.349 c -7.524 -6.426 -14.022 -12.001 -18.539 -17.479 c -5.051 -6.105 -7.395 -11.917 -7.395 -18.244 c 0.029 -6.163 2.148 -11.831 5.984 -15.972 Z'
  );
  fill: rgb(255, 196, 247);

  animation: 2s ease 1s infinite alternate colorHeart;
}

.battery3 {
  opacity: 0;
  animation-name: bataryCarge;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.hair {
  d: path(
    'M177.874 134.112C177.368 132.621 176.507 131.275 175.365 130.189C174.223 129.104 172.834 128.312 171.319 127.882L158.082 124.136C154.384 123.089 150.475 123.035 146.75 123.979C143.024 124.924 139.614 126.833 136.862 129.514L136.737 129.636C134.814 131.512 133.247 133.72 132.11 136.153C127.332 133.727 111.488 126.099 97.917 119.592C91.5313 116.531 84.3952 115.382 77.3707 116.286C70.3462 117.19 63.7338 120.107 58.3322 124.685C53.0755 129.138 48.7415 132.486 44.2724 136.284C35.9032 143.395 26.4743 149.156 16.3265 153.359L0 160.155C8.5169 166.944 12.9313 170.337 23.8177 170.787L36.2571 171.301C36.5805 171.314 36.8917 171.428 37.1478 171.625C37.4039 171.823 37.5923 172.095 37.6869 172.405C37.7815 172.714 37.7776 173.045 37.6758 173.352C37.5741 173.659 37.3794 173.927 37.1188 174.119C29.6741 179.579 21.2796 183.61 12.3622 186.007L1.43074 188.957C1.29452 188.994 1.17426 189.075 1.08853 189.187C1.00279 189.299 0.956342 189.436 0.956342 189.577C0.956342 189.718 1.00279 189.855 1.08853 189.967C1.17426 190.079 1.29452 190.16 1.43074 190.197L15.7542 194.255C27.7421 197.645 40.5821 196.2 51.5161 190.232L69.7267 180.298C66.0725 188.36 60.4428 195.37 53.3584 200.682C53.2401 200.768 53.1547 200.891 53.1163 201.033C53.0779 201.174 53.0889 201.324 53.1473 201.458C53.2058 201.592 53.3083 201.702 53.4379 201.77C53.5674 201.838 53.7163 201.86 53.86 201.832L60.2452 200.659C67.2689 199.368 73.9175 196.533 79.7099 192.358C85.5023 188.184 90.2937 182.775 93.7373 176.522C98.9988 166.969 106.508 158.839 115.616 152.835L130.107 143.282C129.69 147.114 130.271 150.988 131.795 154.528L133.788 159.162C135.272 162.61 137.644 165.602 140.663 167.834C143.682 170.067 147.24 171.458 150.973 171.866L176.894 139.735C177.518 138.956 177.935 138.033 178.107 137.05C178.278 136.067 178.198 135.056 177.874 134.112Z'
  );

  animation: hairMove 4s linear infinite;
}

@keyframes hairMove {
  0% {
    d: path(
      'M177.874 134.112C177.368 132.621 176.507 131.275 175.365 130.189C174.223 129.104 172.834 128.312 171.319 127.882L158.082 124.136C154.384 123.089 150.475 123.035 146.75 123.979C143.024 124.924 139.614 126.833 136.862 129.514L136.737 129.636C134.814 131.512 133.247 133.72 132.11 136.153C127.332 133.727 111.488 126.099 97.917 119.592C91.5313 116.531 84.3952 115.382 77.3707 116.286C70.3462 117.19 63.7338 120.107 58.3322 124.685C53.0755 129.138 48.7415 132.486 44.2724 136.284C35.9032 143.395 26.4743 149.156 16.3265 153.359L0 160.155C8.5169 166.944 12.9313 170.337 23.8177 170.787L36.2571 171.301C36.5805 171.314 36.8917 171.428 37.1478 171.625C37.4039 171.823 37.5923 172.095 37.6869 172.405C37.7815 172.714 37.7776 173.045 37.6758 173.352C37.5741 173.659 37.3794 173.927 37.1188 174.119C29.6741 179.579 21.2796 183.61 12.3622 186.007L1.43074 188.957C1.29452 188.994 1.17426 189.075 1.08853 189.187C1.00279 189.299 0.956342 189.436 0.956342 189.577C0.956342 189.718 1.00279 189.855 1.08853 189.967C1.17426 190.079 1.29452 190.16 1.43074 190.197L15.7542 194.255C27.7421 197.645 40.5821 196.2 51.5161 190.232L69.7267 180.298C66.0725 188.36 60.4428 195.37 53.3584 200.682C53.2401 200.768 53.1547 200.891 53.1163 201.033C53.0779 201.174 53.0889 201.324 53.1473 201.458C53.2058 201.592 53.3083 201.702 53.4379 201.77C53.5674 201.838 53.7163 201.86 53.86 201.832L60.2452 200.659C67.2689 199.368 73.9175 196.533 79.7099 192.358C85.5023 188.184 90.2937 182.775 93.7373 176.522C98.9988 166.969 106.508 158.839 115.616 152.835L130.107 143.282C129.69 147.114 130.271 150.988 131.795 154.528L133.788 159.162C135.272 162.61 137.644 165.602 140.663 167.834C143.682 170.067 147.24 171.458 150.973 171.866L176.894 139.735C177.518 138.956 177.935 138.033 178.107 137.05C178.278 136.067 178.198 135.056 177.874 134.112Z'
    );
  }
  50% {
    d: path(
      'M177.874 134.112C177.368 132.621 176.507 131.275 175.365 130.189 174.223 129.104 172.834 128.312 171.319 127.882L158.082 124.136C154.384 123.089 150.475 123.035 146.75 123.979 143.024 124.924 139.614 126.833 136.862 129.514L136.737 129.636C134.814 131.512 133.247 133.72 132.11 136.153 127.332 133.727 111.488 126.099 97.24 121.959 88.881 120.135 86.45 119.832 78.699 120.743 69.277 123.783 67.757 123.631 55.295 130.47 54.08 131.533 49.976 133.965 44.2724 136.284 35.9032 143.395 26.4743 149.156 16.391 154.481L0 160.155C8.5169 166.944 12.743 168.007 23.685 169.222L36.2571 171.301C36.5805 171.314 36.8917 171.428 37.1478 171.625 37.4039 171.823 37.5923 172.095 37.6869 172.405 37.7815 172.714 37.7776 173.045 37.6758 173.352 37.5741 173.659 37.3794 173.927 37.1188 174.119 29.6741 179.579 21.2796 183.61 13.503 187.003L1.4307 188.957C1.2945 188.994 1.1743 189.075 1.0885 189.187 1.0028 189.299.9563 189.436.9563 189.577.9563 189.718 1.0028 189.855 1.0885 189.967 1.1743 190.079 1.2945 190.16 1.4307 190.197L15.7542 194.255C28.852 194.906 35.843 195.21 45.873 190.65L69.7267 180.298C55.295 192.322 56.663 192.322 53.3584 200.682 53.2401 200.768 53.1547 200.891 53.1163 201.033 53.0779 201.174 53.0889 201.324 53.1473 201.458 53.2058 201.592 53.3083 201.702 53.4379 201.77 53.5674 201.838 53.7163 201.86 53.86 201.832L60.2452 200.659C67.2689 199.368 73.9175 196.533 79.7099 192.358 85.5023 188.184 90.2937 182.775 95.72 175.909 104.23 171.046 107.726 160.864 115.616 152.835L130.107 143.282C129.69 147.114 130.271 150.988 131.795 154.528L133.788 159.162C135.272 162.61 137.644 165.602 140.663 167.834 143.682 170.067 147.24 171.458 150.973 171.866L176.894 139.735C177.518 138.956 177.935 138.033 178.107 137.05 178.278 136.067 178.198 135.056 177.874 134.112Z'
    );
  }

  100% {
    d: path(
      'M177.874 134.112C177.368 132.621 176.507 131.275 175.365 130.189C174.223 129.104 172.834 128.312 171.319 127.882L158.082 124.136C154.384 123.089 150.475 123.035 146.75 123.979C143.024 124.924 139.614 126.833 136.862 129.514L136.737 129.636C134.814 131.512 133.247 133.72 132.11 136.153C127.332 133.727 111.488 126.099 97.917 119.592C91.5313 116.531 84.3952 115.382 77.3707 116.286C70.3462 117.19 63.7338 120.107 58.3322 124.685C53.0755 129.138 48.7415 132.486 44.2724 136.284C35.9032 143.395 26.4743 149.156 16.3265 153.359L0 160.155C8.5169 166.944 12.9313 170.337 23.8177 170.787L36.2571 171.301C36.5805 171.314 36.8917 171.428 37.1478 171.625C37.4039 171.823 37.5923 172.095 37.6869 172.405C37.7815 172.714 37.7776 173.045 37.6758 173.352C37.5741 173.659 37.3794 173.927 37.1188 174.119C29.6741 179.579 21.2796 183.61 12.3622 186.007L1.43074 188.957C1.29452 188.994 1.17426 189.075 1.08853 189.187C1.00279 189.299 0.956342 189.436 0.956342 189.577C0.956342 189.718 1.00279 189.855 1.08853 189.967C1.17426 190.079 1.29452 190.16 1.43074 190.197L15.7542 194.255C27.7421 197.645 40.5821 196.2 51.5161 190.232L69.7267 180.298C66.0725 188.36 60.4428 195.37 53.3584 200.682C53.2401 200.768 53.1547 200.891 53.1163 201.033C53.0779 201.174 53.0889 201.324 53.1473 201.458C53.2058 201.592 53.3083 201.702 53.4379 201.77C53.5674 201.838 53.7163 201.86 53.86 201.832L60.2452 200.659C67.2689 199.368 73.9175 196.533 79.7099 192.358C85.5023 188.184 90.2937 182.775 93.7373 176.522C98.9988 166.969 106.508 158.839 115.616 152.835L130.107 143.282C129.69 147.114 130.271 150.988 131.795 154.528L133.788 159.162C135.272 162.61 137.644 165.602 140.663 167.834C143.682 170.067 147.24 171.458 150.973 171.866L176.894 139.735C177.518 138.956 177.935 138.033 178.107 137.05C178.278 136.067 178.198 135.056 177.874 134.112Z'
    );
  }
}

@keyframes bataryCarge {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colorHeart {
  0% {
    transform: scale(1) translate(0, 0);
    fill: rgb(255, 196, 247);
  }

  50% {
    transform: scale(1.09) translate(-4.8%, -3%);
    fill: rgb(243, 122, 227);
  }

  100% {
    transform: scale(1) translate(0, 0);
    fill: rgb(255, 196, 247);
  }
}
