@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --color-primary-white: #FFF;
  --color-primary-black: #050505;
  --color-primary-violet: #B6C3FF;
  --color-primary-black-2: #0F0F0F;
  --color-primary-lite-green: #45FFBC;
  --color-primary-grey: #B6B6B6;
  --color-primary-green-lite: #E3FFA8;
  --secondary-color-grey-1: #292928;
  --secondary-color-pink: #FFC4F7;
  --secondary-color-yellow: #fff3b7;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-primary-white);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

p, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type="number"], input[type="text"], input[type="email"], input[type="password"]  {
  transition: all 250ms linear;
}

input[type="number"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover
 {
  border: 1px solid var(--color-primary-green-lite);
  outline: 1px solid var(--color-primary-green-lite);
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
 {
  border: 1px solid var(--color-primary-green-lite);
  outline: 1px solid var(--color-primary-green-lite);
}

label {
  transition: all 250ms linear;
}
label:hover,
label:focus {
  color: var(--color-primary-green-lite);
}


[data-name="link"]{
  transition: all 250ms linear;
}

[data-name="link"]:hover {
  color: var(--secondary-color-yellow);
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary-black-2);

}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--color-primary-green-lite);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color-yellow);
}