.list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 100%;
	margin-top: 16px;
}

@media screen and (min-width: 834px) {
	.list {
		grid-template-columns: 1fr 1fr;
	}
}

.item {
	display: flex;
	column-gap: 20px;
	width: 100%;
	max-width: 380px;
	height: 100vh;
	max-height: 86px;

	padding: 20px 0 20px 24px;
	border-radius: 12px;
	background: var(--color-primary-black-2);
}

@media screen and (min-width: 1440px) {
	.item {
		max-width: 328px;
	}
}

.sub_title {
	font-size: 18px;
	line-height: 1.33;
	font-weight: 500;
}

.image_container {
	width: 100%;
	max-width: 46px;
	height: 100%;
	max-height: 46px;
}

.image_container img{
	width: 100%;
	height: 100%;
}

.item:nth-child(n+11) {
	display: none;
}

.desc_container > p{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.43;
}
.desc_container > p > span{
	display: inline-block;
	margin-left: 6px;
	font-weight: 500;
	color: var(--color-primary-grey);
}