.goals_container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 100vw;
	max-width: 300px;
	height: 100vh;
	max-height: 212px;
	padding: 16px 86px 16px 12px;
	border-radius: 12px;
	background: var(--color-primary-black-2);
	@media (min-width: 834px){
		row-gap: 32px;
		max-width: 380px;
		max-height: 240px;
		padding: 24px 138px 24px 40px;
	}
	@media (min-width: 1440px){
		max-width: 328px;
		padding: 24px 86px 24px 40px;
	}
}

.goal_title{
	font-size: 22px;
	line-height: 1.45;
	color: var(--color-primary-white);
	font-weight: 400;
}

.box {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.buble_icon_container {
	width: 100%;
	max-width: 80px;
	height: 100%;
	max-height: 80px;
}

.desc_container span {
	margin-left: 4px;
	font-size: 14px;
	line-height: 1.43;
	font-weight: 400;
	vertical-align: middle;
}

.desc_container > p:first-child {
	font-size: 18px;
	line-height: 1.33;
	font-weight: 500;
	color: var(--color-primary-grey);
}

.desc_container > p:last-child {
	font-size: 34px;
	line-height: 1.11;
	font-weight: 600;
	color: var(--color-primary-white);
}